html,
body {
  padding: 0;
  margin: 0;
}
 a {
  color: inherit;
  text-decoration: none;
}
/* .flexer{
  display:flex;

  flex-direction: row;
  width: 100%;
} */
 /* .form-structure{
  display:flex;
  flex-direction: column;
}  */
.map-container {
  height: 100vh;
  width: 100%;
  margin-left:15px;
  margin-top: 20px;
  padding: 25px;
  position:absolute;
  top:0px;
} 
.form-section{
  position:absolute;
  margin-top:15%;
  margin-left:15px;
  width:500px;
}


@media (max-height: 650px){
  .map-container {
    height: 800px;
    width: 100%;
    margin-left:15px;
    margin-top: 20px;
    padding: 25px;
    position:absolute;
    top:0px;
  } 
  .form-section{
    position:absolute;
    margin-top:15%;
    margin-left:15px;
    width:500px;
  }
}

